.DarkBackground {
  background: rgb(229, 238, 255);
}

.LightBackground {
  background: white;
}

.TaitLightBackground {
  background: rgb(229, 238, 255);
}

.TaitDarkBackground {
  background: rgb(0, 50, 210);
}

.card-body {
  padding: 0.5rem;
}

.read-more-button {
  padding-left: 0;
  padding-right: 0;
}


.Transparent {
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px solid black; */
  border: none;
}

.SocialMediaCardBody {
  padding-left: 0;
}

#TreeVisualizationContainer {
  padding-left: 0;
  padding-right: 0;
}
