.DarkBackground {
  background: rgb(229, 238, 255);
}

.LightBackground {
  background: white;
}

.TaitLightBackground {
  background: rgb(229, 238, 255);
}

.TaitDarkBackground {
  background: rgb(0, 50, 210);
}

#background-rrt-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* .container {
  z-index: 2;
}

.container-fluid {
  z-index: 0;
} */
