@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1, h2, h3, h4, h5, h6, p {
  font-weight: 100;
  line-height: 1.6em;
}

body {
  font-family: 'Roboto Mono', 'monospace';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.FontStyleCode {
  font-family: 'Roboto Mono', monospace;
}

.FontColorBlack {
  color: #000000
}

.FontColorWhite {
  color: #FFFFFF
}

.FontColorDarkBlue {
  color: rgb(0, 50, 210);
}

.FontColorMediumGray {
  color: #616161
}

.ProjectTitleText {
  font-size: 16px;
}
